@font-face {
    font-family: "Gloock";
    src: url('/fonts/Gloock/Gloock-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "SpaceMono";
    src: url('/fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "SpaceMonoBold";
    src: url('/fonts/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "StintUltraExpanded";
    src: url('/fonts/Stint_Ultra_Expanded/StintUltraExpanded-Regular.ttf') format('truetype');
}

:root{
    --maincolor: #dd0d22;
    --bordercl:#ff9e9b;
    --callouctcolor:dodgerblue;
    --hovercolor:#fcb207;
    --darkMaincolor: #50fa7b;
}

html {
    color: #401c0c;
    font-family: 'SpaceMono', sans-serif;
    font-size: 15px;
    line-height: 1.6em;
    background-color: #f0e6d8;
}

h1 {
    font-family: 'StintUltraExpanded', serif;
    font-size: 25px;
}

p {
    font-family: 'SpaceMono', sans-serif;
}

.main {
    font-size: 100px;
    font-family: 'SpaceMonoBold', sans-serif;
}
