:root{
    --maincolor: #dd0d22;
    --bordercl:#ff9e9b;
    --callouctcolor:dodgerblue;
    --hovercolor:#fcb207;
    --darkMaincolor: #50fa7b;
}

html {
    color: #401c0c;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    line-height: 1.6em;
    background-color: #f3e3cb;
}
